@import url('https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap');

#root {
  height: 80vh;
}
/*navbar*/
.menu {
  margin-bottom: 20px;
}

.brand {
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 30px;
}

.outlined-button {
  border-radius: 25px;
  text-align: center;
  font-size: smaller;
  width: 130px;
  color: #679db7;
  border-color: #679db7;
  margin-left: 5px;
}

.outlined-button:hover {
  color: #679db7;
  background-color: white;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.outlined-button:active {
  background-color: white;
}

/*home*/
.post-loading {
  justify-content: center;
  display: flex;
  /* align-content: center; */
  align-items: center;
  height: 300px;
}

.banner {
  -webkit-box-shadow: 2px 8px 27px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 8px 27px -13px rgba(0,0,0,0.75);
  box-shadow: 2px 8px 27px -13px rgba(0,0,0,0.75);
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: inherit;
}

.jumbotron {
  background-color: #ffffff;
}

.bottom-form {
  position: absolute;
  top: 90%;
  bottom: 0;
  width: 100%;
}

.logout {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.fields {
  border-radius: 25px;
  text-align: center;
  font-size: larger;
  border-color: #679db7;
}

.submit {
  border-radius: 25px;
  /* font-size: larger; */
  width: 200px;
  float: right;
  background: #67B26F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #05f3ff, #679db7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #05f3ff, #679db7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
}

.navlink {
  color: #61dafb;
  float: right;
  padding-right: 25px;
}
.navlink:hover {
  color: #61dafb;
}

.footer {
  float: right;
}

.repolink {
  color: black;
  font-size: 15px;
}

.repolink:hover {
  text-decoration: none;
  color: black;
}

.name {
  font-family: "Yu Gothic UI";
}