@import url('https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap');

/*navbar*/
.menu {
  margin-bottom: 10px;
}

.brand {
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 30px;
}

.outlined-button {
  border-radius: 25px;
  text-align: center;
  font-size: smaller;
  width: 130px;
  color: #679db7;
  border: 1px solid #679db7;
  margin-left: 5px;
}

.outlined-button:hover {
  color: #679db7;
  background-color: white;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.outlined-button:active {
  background-color: white;
  color: #679db7;
}

/*home*/
.post-loading {
  justify-content: center;
  display: flex;
  /* align-content: center; */
  align-items: center;
  height: 300px;
}

.banner {
  overflow: hidden;
  height: calc(100vh - 205px);
  display: block
}


.effect-underline {
  background: -webkit-linear-gradient(#05f3ff, #679db7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size:10vw;
}

/*effect-underline*/
.effect-underline:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/*Loading Component*/

.main {
  /*background-color: #61dafb;*/
  height: calc(100vh - 135px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.jumbotron {
  background-color: #ffffff;
}

.bottom-form {
  position: absolute;
  top: 90%;
  bottom: 0;
  width: 100%;
}

.logout {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.fields {
  border-radius: 25px;
  text-align: center;
  font-size: larger;
  border-color: #679db7;
}

.submit {
  border-radius: 25px;
  /* font-size: larger; */
  width: 200px;
  float: right;
  background: #67B26F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #05f3ff, #679db7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #05f3ff, #679db7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
}

/*profile component*/
.wrapper {
  overflow-y: auto;
  height: calc(100vh - 205px);
  display: inline-block
}
.wrapper::-webkit-scrollbar {
  width: 5px;
}
/* Track */
.wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
.wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}
/* Handle on hover */
.wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.post-field {
  border-radius: 25px;
  /*text-align: center;*/
  border-color: #679db7;
}

.post {
  border-radius: 25px;
  text-align: center;
  background: -webkit-linear-gradient(to right, #05f3ff, #679db7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #05f3ff, #679db7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  width: 100%;
}


.navlink {
  color: #61dafb;
  float: right;
  padding-right: 25px;
}
.navlink:hover {
  color: #61dafb;
}

.repolink {
  color: black;
  font-size: 15px;
}

.repolink:hover {
  text-decoration: none;
  color: black;
}

.name {
  font-family: "Yu Gothic UI";
}